body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
}

.header {
  outline: solid;
}
.hero {
  outline: solid;
}
.content {
  outline: solid;
}
.quote {
  outline: solid;
}
.cta {
  outline: solid;
}
.footer {
  outline: solid;
  margin-top: auto;
}
